mat-grid-tile {
  background: #F0ECE5;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vw;
}

.card {
  margin-bottom: 25px;
  box-sizing: border-box;
}

mat-card{

  background-color: #31304D;   
  height: 43vh; margin: 20px;
  width: 25vw;    
  border-radius: 15px;
  margin-bottom: 8vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
  transform: translateY(3px);
  transition: all 0.5s;

}
  
mat-card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-color: rgba(50, 50, 93, 0.25);
  border: 1px;
  border-style: solid;
}

img{
  height: 25vh;
}

.cm-container {
  display: flex;
  flex-direction: column;
  height: 97%;
  justify-content: space-between;
}

.cardheader{

  margin-bottom: 2vh;
  color: #F0ECE5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardimage{
  background-color: white;
  margin-bottom: 2vh;
  height: 25vh;
  width: 20vw;
  min-height: 25vh;
  align-items: center;
  margin-left: 2.3vw;
  
}

.cardbuttons{
  margin-bottom: 0px;
  margin-top: 0vh;
  padding-bottom: 25px;
}
.editbtn{
  margin-bottom: 0%;
  margin-left: 1.5vw;
  color:#B6BBC4;
  transition: all 0.2s ease-in-out;
}
.deletebtn{
  margin-bottom: 0%;
  margin-right: 1.5vw;
  transition: all 0.2s ease-in-out;
}

.editbtn:hover{
  box-shadow: 2px 0px 2px 0px #d8dde7;
}

.deletebtn:hover{
  box-shadow: 2px 0px 2px 0px #f6675c;
}